.background {
    background-image: url("../../assets/vector-image-b.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .image-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .password-text {
    padding-left: 5px;
    font-weight: 500;
    font-size: 30px;
    margin: 20px 0px;
    color: #333;
  }
  .card {
    width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
    padding: 30px 60px;
  }
  .pwd-guide{
    font-size: 12px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="password"] {
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .btn-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-top: 20px;
  }
  .back-to-login {
    color: #007bff;
    text-decoration: none;
  }
  .back-to-login:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 480px) {
    .btn-section {
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .submit-btn {
      margin-bottom: 5px;
    }
    .error-message {
      font-size: 12px;
    }
    .card {
      width: 250px;
    }
    .password-text {
      font-size: 18px;
      margin: 15px 0px;
    }
    .pwd-guide{
      font-size: 10px;
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    .card {
      width: 200px;
    }
    .error-message {
      font-size: 12px;
    }
    .btn-section {
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .pwd-guide{
      font-size: 10px;
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  }