    <div class="background">
        <div class="container">
        <div class="card">
            <div class="image-icons">
            <img src="./../../assets/brywise.png" class="login-form-logo" alt="brywise" width="50" height="45" />
            <img src="./../../assets/user.svg" class="user-icon" width="40" height="40" alt="user" />
            </div>
            <p class="password-text">Reset Your Password</p>
            <p class="pwd-guide">Enter your new password and confirm it below.</p>
            <form [formGroup]="passwordForm" (ngSubmit)="submitForm()" class="forgot-form">
            <input type="password" formControlName="newPassword" placeholder="New Password" />
            <div *ngIf="passwordForm.get('newPassword')?.errors && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)"
                class="error-message">
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['required']">Please enter your new password. </div>
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long. </div>
            </div>
            <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password" />
            <div *ngIf="passwordForm.get('confirmPassword')?.errors && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)"
                class="error-message">
                <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Please confirm your new password. </div>
                <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match. </div>
            </div>
            <div class="btn-section">
                <a href="/login" class="back-to-login">Back to Sign In</a>
            </div>
            </form>
        </div>
        </div>
    </div>
    