<div class="container">
<div class="sidenav">
<div class="icon_items">
<ul>
    <li class="active">
        <i class='bx bxs-home'></i>
        <a routerLink="/">Home</a>
    </li>
    <li>
        <i class='bx bxs-user-circle'></i>
        <a routerLink="/user">User</a>
    </li>
    <li>
        <i class='bx bxs-message-dots'></i>
        <a routerLink="/message">Message</a>
    </li>
    <li>
        <i class='bx bxs-bar-chart-alt-2'></i>
        <a routerLink="/activity">Activity</a>
    </li>
    <li>
        <i class='bx bxs-shopping-bag'></i>
        <a routerLink="/products">Products</a>
    </li>
    <li>
        <i class='bx bxs-bell'></i>
        <a routerLink="/notification">Notification</a>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <a routerLink="/group">Group</a>
    </li>
    <li>
        <i class='bx bxs-help-circle'></i>
        <a routerLink="/help">Help</a>
    </li>
    <li>
        <i class='bx bxs-cog'></i>
        <a routerLink="/setting">Setting</a>
    </li>
    <li>
        <i class='bx bx-log-in'></i>
        <a routerLink="/logout">Logout</a>
    </li>
</ul>
</div>

</div>
</div>
